@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Glass';
  src: url('/fonts/Glass.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glass';
  src: url('/fonts/Glass-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}